<?xml version="1.0" ?> 
<robot name="Exosquelette">

 <link name="world"/>
 <joint name="joint_base" type="fixed">
 <origin xyz="0 0 -0.27" rpy="0 0 0"/>
 <parent link="world"/>
 <child link="base_link"/>
 </joint>

 <link name="base_link">
      <visual>
   <origin xyz="0 0 0.885" rpy="0 0 0"/>
    <geometry>
    <box size="0.07 0.23 0.05"/>              
     </geometry>
     <material name="blue">
     <color rgba="0 0 1 1"/>              
     </material>
    </visual>    
  <collision>
    <origin xyz="0 0 0.885" rpy="0 0 0"/>
    <geometry>
     <box size="0.07 0.23 0.05"/>              
      </geometry>
</collision>
<inertial>
<mass value="0.4"/>
<inertia ixx="0.015" ixy="00" ixz="0" iyy="0.0086" iyz="0" izz="0.007"/> 
</inertial>
</link>

<joint name="joint_left_hip_AA" type="revolute">
<parent link="base_link"/>
<child link="base_link_dummy"/>
 <origin xyz="0 0.25 0.885" rpy="0 0 0"/>
<axis xyz="1 0 0"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

 <link name="base_link_dummy">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0"/>
<inertia ixx="0.00000001" ixy="00" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/> 
</inertial>
</link>

<joint name="joint_left_hip_T" type="revolute">
<parent link="base_link_dummy"/>
<child link="base_link_dummy2"/>
 <origin xyz="0 0 0" rpy="0 0 0"/>
<axis xyz="0 0 1"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

 <link name="base_link_dummy2">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0"/>
<inertia ixx="0.00000001" ixy="00" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/> 
</inertial>
</link>

<joint name="joint_left_hip_FE" type="revolute">
<parent link="base_link_dummy2"/>
<child link="left_femur"/>
 <origin xyz="0 0 0" rpy="0 0 0"/>
<axis xyz="0 -1 0"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

<!-- left femur-->
 <link name="left_femur">
    <visual>
      <origin xyz="0 -0.12 -0.14" rpy="0 0 0"/>
      <geometry>
 <box size="0.07 0.02 0.33"/>         
</geometry> 
<material name="darkgray">
    <color rgba=".2 .2 .2 1"/>
    </material>
     </visual>
    <collision>
          <origin xyz="0 -0.025 -0.14" rpy="0 0 0"/>
          <geometry>
            <box size="0.07 0.02 0.33"/>         
      </geometry>  
</collision>
<inertial>
          <mass value="0.5"/>
          <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.00052"/>
</inertial>
</link>

<joint name="joint_left_knee_FE" type="revolute">
<parent link="left_femur"/>
<child link="left_leg"/>
<origin xyz="0 0.02 -0.35" rpy="0 0 0"/>
 <axis xyz="0 -1 0"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="0" />
</joint>


 <!-- left Leg-->
<link name="left_leg">
    <visual>
      <origin xyz="0 -0.12 -.10" rpy="0 0 0"/>
      <geometry>
       <box size="0.07 0.02 0.28"/>         
      </geometry> 
<material name="darkgray">
<color rgba=".2 .2 .2 1"/>
</material>
    </visual>
<collision>
          <origin xyz="0 -0.09 -0.10" rpy="0 0 0"/>
          <geometry>
            <box size="0.07 0.02 0.28"/>         
      </geometry>  
</collision>
<inertial>
          <mass value="0.5"/>
          <inertia ixx="0.0085" ixy="0" ixz="0" iyy="0.0088" iyz="0" izz="0.0005"/>
</inertial>
</link>

<joint name="joint_left_foot_AA" type="revolute">
<parent link="left_leg"/>
<child link="left_foot_dummy"/>
 <origin xyz="-0.10 -0.13 -0.325" rpy="0 0 0"/>
 <limit effort="30" velocity="1.0" lower="-0.1" upper="0.1" />
 <axis xyz="-1 0 0"/>
 </joint>

<link name="left_foot_dummy">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0.00000001" ixy="0" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/>
</inertial>
</link>

<joint name="joint_left_foot_FE" type="revolute">
<parent link="left_foot_dummy"/>
<child link="left_foot"/>
 <origin xyz="0 0 0" rpy="0 0 0"/>
 <limit effort="30" velocity="1.0" lower="-0.1" upper="0.1" />
 <axis xyz="0 -1 0"/>
 </joint>


<link name="left_foot">
    <visual>
      <origin xyz="0.15 -0.03 0.07" rpy="0 0 0"/>
        <geometry>
              <box size="0.20 0.1 0.02"/>         
        </geometry> 
        <material name="darkgray">
          <color rgba=".2 .2 .2 1"/>
        </material>
    </visual>
    <collision>
      <origin xyz="0.15 -0.03 0.07" rpy="0 0 0"/>
        <geometry>
          <box size="0.20 0.1 0.02"/>         
        </geometry>  
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0008" ixy="0" ixz="0" iyy="0.0015" iyz="0" izz="0.0015"/>
</inertial>
</link>


<!-- right Leg-->

<joint name="joint_right_hip_AA" type="revolute">
<parent link="base_link"/>
<child link="base_link_dummy3"/>
<origin xyz="0 -0.25 0.885" rpy="0 0 0"/>
<axis xyz="-1 0 0"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

 <link name="base_link_dummy3">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0"/>
<inertia ixx="0.00000001" ixy="00" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/> 
</inertial>
</link>

<joint name="joint_right_hip_T" type="revolute">
<parent link="base_link_dummy3"/>
<child link="base_link_dummy4"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
<axis xyz="0 0 1"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

 <link name="base_link_dummy4">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0"/>
<inertia ixx="0.00000001" ixy="00" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/> 
</inertial>
</link>

<joint name="joint_right_hip_FE" type="revolute">
<parent link="base_link_dummy4"/>
<child link="right_femur"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
<axis xyz="0 -1 0"/>
 <limit effort="30" velocity="1.0" lower="-2" upper="2" />
</joint>

<!-- right femur-->
 <link name="right_femur">
    <visual>
      <origin xyz="0 0.12 -0.14" rpy="0 0 0"/>
      <geometry>
       <box size="0.07 0.02 0.33"/>         
      </geometry> 
<material name="darkgray">
<color rgba=".2 .2 .2 1"/>
</material>
    </visual>
<collision>
          <origin xyz="0 0.09 -0.14" rpy="0 0 0"/>
          <geometry>
            <box size="0.07 0.02 0.33"/>         
      </geometry>  
</collision>
<inertial>
          <mass value="0.5"/>
          <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.0005"/>
</inertial>
</link>


<joint name="joint_right_knee_FE" type="revolute">
<parent link="right_femur"/>
<child link="right_leg"/>
 <origin xyz="0 -0.02 -0.35" rpy="0 0 0"/>
<axis xyz="0 -1 0"/>
<limit effort="30" velocity="1.0" lower="-2" upper="0" />
</joint>

<link name="right_leg">
    <visual>
      <origin xyz="0 0.12 -0.1" rpy="0 0 0"/>
      <geometry>
            <box size="0.07 0.02 0.28"/>         
      </geometry> 
<material name="darkgray">
<color rgba=".2 .2 .2 1"/>
</material>
    </visual>
<collision>
          <origin xyz="0 0.09 -0.1" rpy="0 0 0"/>
          <geometry>
            <box size="0.07 0.02 0.28"/>
      </geometry>  
</collision>
<inertial>
          <mass value="0.5"/>
          <inertia ixx="0.085" ixy="0" ixz="0" iyy="0.0088" iyz="0" izz="0.0005"/>
</inertial>
</link>

<joint name="joint_right_foot_AA" type="revolute">
<parent link="right_leg"/>
<child link="right_foot_dummy"/>
<origin xyz="-0.10 0.13 -0.325" rpy="0 0 0"/>
 <limit effort="30" velocity="1.0" lower="0" upper="0" />
<axis xyz="-1 0 0"/>
</joint>

<link name="right_foot_dummy">
<inertial>
          <origin xyz=" 0 0 0" rpy="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0.00000001" ixy="0" ixz="0" iyy="0.00000001" iyz="0" izz="0.00000001"/>
</inertial>
</link>

<joint name="joint_right_foot_FE" type="revolute">
<parent link="right_foot_dummy"/>
<child link="right_foot"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
 <limit effort="30" velocity="1.0" lower="0" upper="0" />
<axis xyz="0 -1 0"/>
</joint>

<link name="right_foot">
    <visual>
      <origin xyz=" 0.15 0.03 0.07" rpy="0 0 0"/>
      <geometry>
            <box size="0.2 0.1 0.02"/>
      </geometry> 
 <material name="darkgray">
<color rgba=".2 .2 .2 1"/>
</material>
    </visual>
<collision>
           <origin xyz="0.15 0.03 0.07" rpy="0 0 0"/>
          <geometry>
            <box size="0.2 0.1 0.02"/>         
      </geometry>  
</collision>
<inertial>
          <mass value="0.2"/>
          <inertia ixx="0.0008" ixy="0" ixz="0" iyy="0.0015" iyz="0" izz="0.0015"/>
</inertial>
</link>

<transmission name="tran1">
<type>transmission_interface/SimpleTransmission</type>
<joint name="joint_left_hip">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
</joint>
<actuator name="motor1">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  <mechanicalReduction>1</mechanicalReduction>
 </actuator>
</transmission>

<transmission name="tran2">
<type>transmission_interface/SimpleTransmission</type>
<joint name="joint_right_hip">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
</joint>
<actuator name="motor2">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  <mechanicalReduction>1</mechanicalReduction>
</actuator>
 </transmission>

<transmission name="tran3">
<type>transmission_interface/SimpleTransmission</type>
<joint name="joint_left_knee">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
</joint>
<actuator name="motor3">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  <mechanicalReduction>1</mechanicalReduction>
 </actuator>
  </transmission>

   <transmission name="tran4">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_right_knee">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="motor4">
  <hardwareInterface>EffortJointInterface</hardwareInterface> 
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
 </transmission>

 <transmission name="tran5">
<type>transmission_interface/SimpleTransmission</type>
<joint name="joint_left_foot">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
</joint>
<actuator name="motor5">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  <mechanicalReduction>1</mechanicalReduction>
 </actuator>
  </transmission>

   <transmission name="tran6">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_right_foot">
  <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="motor5">
  <hardwareInterface>EffortJointInterface</hardwareInterface> 
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
 </transmission>



 </robot>
